@import "~bootstrap/scss/bootstrap";
@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css";             
@import "primeicons/primeicons.css";

body {
  background-color: rgb(29, 29, 29);
  color: white;
}

.wrapper {
  min-height: calc(100vh - 40px);
}