.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  .home-banner {
    text-align: center;

    .home-banner-logo img {
      height: 30vw;
      max-height: 200px;
    }
  }

  .sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .section {
      margin-top: 25px;
      margin-bottom: 25px;
      color: white;
      background-color: rgb(36, 36, 36);

      .section-title {
        margin-left: 5px;
      }
  
      .section-content {
        display: flex;
        color: black;
        margin: 0;
        background-color: rgb(209, 209, 209);

        .breakdown-list {
          margin-top: 8px;
        }

        img {
          height: auto;
          max-width: 100%;
          padding: 12px;
          border-radius: 5px;
        }
      }
    }
  }
}