.learn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  .sections {
    width: 50%;

    .top {
      text-align: center;
    }

    .section {
      margin-top: 25px;
      margin-bottom: 25px;

      .col {
        width: 100%;
      }

      .section-content {
        display: flex;

        img {
          margin: 12px 12px 12px auto;
          width: 30%;
          height: auto;
          border-radius: 5px;
        }
      }
    }
  }
}