.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  .contact-links {
    margin-top: 50px;
    width: 50%;

    .links-header {
      margin-bottom: 20px;
    }

    .contact-link {
      display: flex;
      align-items: center;
      justify-content: center;

      h6 {
        margin: 0;
      }
    }
  }

  .form-header {
    text-align: center;
  }

  form {
    .button-container {
      margin: 8px 1px 8px 1px;
      display: flex;
      justify-content: right;
    }
  }

  .contact-form {
    margin-top: 80px;
    margin-bottom: 40px;
    width: 50%;

    label {
      margin-top: 8px;
    }
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-top: 10vh;
  color: black;

  .modal-dialog {
    margin-top: 50px;
  }

  .modal-header > span:nth-child(1) {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    width: calc(100% - 32px);
  }

  .modal-header > span:nth-child(2) {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    width: calc(100% - 32px);
  }
}


